ul.nav.nav-tabs {
	border-bottom: 0px;

	li.nav-item a.nav-link {
		&.active {
			color: $primary;
		}

		color:#333;
		font-weight: 700;
    	text-transform: uppercase;
    	border: 1px solid $primary;
    	border-radius: 300px;
    	padding: 1em;
    	margin-left: 1em;
    	margin-right: 1em;
    	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	}
}

.tab-content .tab-pane {
	padding-top:20px;
}

section {
  padding: 5rem 0;
}

.section-heading {
	font-weight: 700;
	text-transform: uppercase;
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
}

nav.navbar a.navbar-brand {
	background-image: url('../img/logo-white.png');	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	display: block;
	width:125px;
 	height:40px;

	span {
		display:none;
	}
}

nav.navbar.navbar-shrink a.navbar-brand {
	background-image: url('../img/logo-orange.png');
}

#geneticsTable_wrapper {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size: 12px;
}

table.dataTable thead tr {
  background-color: #8c4000;
}

table.dataTable thead tr {
	color: #fff;
	font-weight:700;
	font-size:1.2em;
}