ul.nav.nav-tabs {
	border-bottom: 0px;

	li.nav-item a.nav-link {
		&.active {
			color: $primary;
		}

		color:#fff;
		font-weight: 700;
    	text-transform: uppercase;
    	border: none;
    	border-radius: 300px;
    	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	}
}

.tab-content .tab-pane {
	padding-top:20px;
}

section {
  padding: 5rem 0;
}

.section-heading {
	font-weight: 700;
	text-transform: uppercase;
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
}